[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pybluez = "*"
gattlib = "*"
pexpect = "*"
bluepy = "*"
bleak = "*"
ptyprocess = "*"
awscrt = "*"
awsiot = "*"
awsiotsdk = "*"

[dev-packages]

[requires]
python_version = "3.7"
